<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${appLogsDir}/${shortdate}.log" keepFileOpen="true">
      <layout xsi:type="JsonLayout">
        <attribute name="timestamp" layout="${date:format=o}" />
        <attribute name="level" layout="${level}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="traceidentifier" layout="${aspnet-traceidentifier}" />
        <attribute name="user-identit" layout="${aspnet-user-identity}" />
        <attribute name="request-ip" layout="${aspnet-request-ip}" />
        <attribute name="user-isauthenticated" layout="${aspnet-user-isauthenticated}" />
        <attribute name="message" layout="${message:raw=true}" />
        <attribute name="properties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true" />
        </attribute>
      </layout>
    </target>

    <target
        name="console"
        xsi:type="ColoredConsole"
        useDefaultRowHighlightingRules="false"
        layout="[${longdate}|${event-properties:item=EventId_Id:whenEmpty=0}|${aspnet-traceidentifier} ${uppercase:${level}}] ${message} ${exception:format=tostring}{${logger} ${callsite}}"
    >
      <highlight-word backgroundColor="Gray" foregroundColor="DarkGray" regex="^\[.*TRACE\]" />
      <highlight-word foregroundColor="DarkGray" regex="{.+}$" />

      <highlight-word backgroundColor="DarkGray" foregroundColor="White" regex="^\[.*DEBUG\]" />
      <highlight-word backgroundColor="DarkCyan" foregroundColor="Black" regex="^\[.*INFO\]" />
      <highlight-word backgroundColor="DarkYellow" foregroundColor="Black" regex="^\[.*WARN\]" />
      <highlight-word backgroundColor="DarkRed" foregroundColor="Black" regex="^\[.*ERROR\]" />
      <highlight-word backgroundColor="Red" foregroundColor="White" regex="^\[.*FATAL.*" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file,console"/>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
  </rules>
</nlog>