:host {
  display: flex;
  height: 100%;
}

.Layout {
  &-header {
    background: #fff;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px #0000008a;
    position: relative;
  }

  &-logo {
    margin-bottom: 10px;
    width: 100%;
    height: 64px;
    background: #333;
    text-align: center;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
  }

  &-logoImg {
    height: 100%;

    &.is-wide {
      max-height: 100%;
      height: auto;
      max-width: 100%;
      padding: 10px;
    }
  }

  &-breadcrumbs {
    flex: 1 1 100%;
  }

  &-breadcrumbItem {
    &.is-active {
      font-size: 1.5em;
    }
  }

  &-mainMenu {
    line-height: 62px;
  }

  &-env {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 5px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  &-countries {
    width: 200px;
    flex: 0 0 auto;
  }

  &-avatar {
    line-height: 1;
  }

  &-logOut {
    width: 32px;
    height: 32px;
    font-size: 16px;
    padding: 0;
  }

  &-sider {
    background: #404040;

    & > ::ng-deep .ant-layout-sider-children {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex: 1 1 auto;
      min-height: 0;
      padding-bottom: 50px;
    }
  }

  &-secondLvlMenu {
    background: transparent !important;
    overflow: auto;
  }

  &-content {
    overflow: auto;
  }

}

::ng-deep .ant-layout-sider-trigger {
  background: #111 !important;

  &:hover {
    background: #222 !important;
  }
}
